.tipButton {
  border-radius: 0.375rem;
  font-style: normal;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
  padding: 0;
  border: 0;
  transition:
    background 0.1s ease,
    color 0.1s ease;
}

.tip {
  background: #00474b;
  color: #feffff;
  font-size: 2rem;
  line-height: 2rem;
}

.custom {
  background: #f3f8fb;
  color: #5d6b6c;
  font-size: 1.5rem;
  line-height: 2.25rem;
  border: none;
  padding: 14px 0;
  width: 100%;
}
.custom::placeholder {
  color: black;
}
.tip:hover {
  background: hsl(173, 61%, 76%);
  color: #00474b;
}

.tip.selected {
  background: hsl(172, 67%, 45%);
  color: #00474b;
  transition:
    background 0.1s ease,
    color 0.1s ease;
}

/* Default: Desktop monitors, 1501px and up */
@media (max-width: 1500px) {
  /* Laptop */
}
@media (max-width: 1100px) {
  /* Tablets */
}
@media (max-width: 550px) {
  /* Phones */
  .tipButton {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
