@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.widget {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  margin: 20px 0;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-left: 5px solid;
  color: aliceblue;
  position: relative;
}
.widgetIcon {
  max-width: 25px;
  position: absolute;
  left: 0;
  transform: translate(-60%, -150%);
  padding: 5px;
  border-radius: 50%;
  background-color: aliceblue;
  color: #141150;
}

.success {
  border-color: green;
  background-color: #0b0a16;
}

.success:hover {
  box-shadow: 10px 0 15px rgba(7, 227, 58, 0.6);
}

.error {
  border-color: red;
  background-color: #7a353d;
}

.error:hover {
  box-shadow: 10px 0 15px rgba(227, 7, 7, 0.6);
}

.tip {
  border-color: rgb(240, 201, 8);
  background-color: rgb(118, 116, 63);
}

.tip:hover {
  box-shadow: 10px 0 15px rgba(178, 165, 44, 0.6);
}

.question {
  border-color: rgb(238, 145, 16);
  background-color: rgb(52, 47, 109);
}

.question:hover {
  box-shadow: 10px 0 15px rgba(238, 145, 16, 0.6);
}

.information {
  border-color: #141150;
  background-color: #447fa6;
}

.information:hover {
  box-shadow: 10px 0 15px rgba(44, 93, 178, 0.6);
}

.note {
  border-color: #88d66c;
  background-color: #1a2706;
}
.note:hover {
  box-shadow: 10px 0 15px rgba(44, 178, 98, 0.6);
}

.warning {
  border-color: rgb(242, 220, 112);
  background-color: rgb(183, 125, 43);
}

.warning:hover {
  box-shadow: 10px 0 15px rgba(242, 220, 112, 0.6);
}

.content p {
  text-align: justify;
}
