.amountDisplay {
  font-family: "Space Mono", monospace;
  display: flex;
  gap: 165px;
  margin: 56px 56px 0 56px;
  justify-content: space-between;
}

.labelPerson {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  color: #feffff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.1rem;
  font-style: normal;
}

.person {
  color: #9fb3b2;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;

  letter-spacing: 0.1rem;
  color: #9fb3b2;
}

.amount {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4375rem;

  text-align: right;
  color: #2cc0ad;
}
@media (max-width: 1500px) {
  /* Laptop */
}
@media (max-width: 1100px) {
  /* Tablets */
}
@media (max-width: 550px) {
  /* Phones */

  .amountDisplay {
    margin: 40px;
  }
  .amount {
    font-size: 1.837775rem;
    line-height: 2.75rem;
  }

  .label {
    font-size: 0.7657375rem;
    line-height: 1.125rem;
    letter-spacing: 0.1rem;
  }

  .person {
    font-size: 0.7657375rem;
    line-height: 1.125rem;
    letter-spacing: 0.1rem;
  }
}
