.amountDisplay {
  background-color: transparent;
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.labelperson {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2rem;
  font-size: 1.25rem;
}

.label {
  color: #feffff;
}

.person {
  color: #9fb3b2;
}

.amount {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  text-align: right;
  color: #2cc0ad;
}
