:root {
  --color-almost-white: #feffff;
  --color-muted-teal: #9fb3b2;
  --color-teal: #2cc0ad;
}

.amountDisplay {
  display: flex;
  justify-content: space-between;
}

.labelPerson {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--color-almost-white);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.1rem;
  font-style: normal;
}

.person {
  color: var(--color-muted-teal);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;

  letter-spacing: 0.1rem;
  color: var(--color-muted-teal);
}

.amount {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4375rem;
  text-align: right;
  color: var(--color-teal);
}
@media (max-width: 1500px) {
  /* Laptop */
}
@media (max-width: 1366px) {
  /* Tablets */
}
@media (max-width: 550px) {
  /* Phones */

  .amountDisplay {
    padding: 13px;
  }
  .amount {
    font-size: 0.7657375rem;
    line-height: 2.75rem;
  }

  .label {
    font-size: 0.7657375rem;
    line-height: 1.125rem;
    letter-spacing: 0.1rem;
  }

  .person {
    font-size: 0.7657375rem;
    line-height: 1.125rem;
    letter-spacing: 0.1rem;
  }
}
