.resetButton {
  background-color: #0d686d;
  color: #00474b;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.1em;
  margin: 195px 56px 56px 56px;
  border: none;
  padding: 13px 184.28px;
  border-radius: 7px;
  transition: background 0.1s ease;
}
.resetButton.selected {
  background: #2cc0ae;
  transition: background 0.1s ease;
}

/* Default: Desktop monitors, 1501px and up */
@media (max-width: 1500px) {
  /* Laptop */
}
@media (max-width: 1100px) {
  /* Tablets */
}
@media (max-width: 550px) {
  /* Phones */
  .resetButton {
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding: 5px 105px;
    margin: 52px;
  }
}
