.amountInfo {
  background-color: #00474b;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 56px;
  min-width: 566px;
}

.amount {
  display: grid;
  gap: 64px;
  overflow-x: auto;
}

@media (max-width: 1500px) {
  /* Laptop */
  .amountInfo {
    min-width: 0;
  }
}

@media (max-width: 1100px) {
  /* Tablets */
}

@media (max-width: 550px) {
  /* Phones */
  .amountInfo {
    padding: 16px;
    gap: 58px;
  }

  .amount {
    gap: 26.45px;
  }
}
