.selectTip {
  display: grid;
  gap: 24px;
}

.label {
  font-family: "Space Mono", monospace;
  font-style: normal;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1.25rem;
  color: #5d6b6c;
}

.children {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

/* Default: Desktop monitors, 1501px and up */
@media (max-width: 1500px) {
  /* Laptop */
}
@media (max-width: 1366px) {
  /* Tablets */
  .children {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  /* Phones */
  .children {
    gap: 16px;
  }
  .label {
    font-size: 0.875rem;
  }
}
